{% extends 'layout.html' %}
{% block content %}
<article>
    <div class="container">
        <h1 class="h4 mb-3">旭川市「{{ area_name }}」の避難場所</h3>
        <section>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>避難場所名</th>
                        <th>住所</th>
                    </tr>
                </thead>
                <tbody id="results" data-length="{{ results_length|tojson }}">
                    {% for result in search_results %}
                    <tr id="order{{ loop.index }}" data-latitude="{{ result.latitude|tojson }}" data-longitude="{{ result.longitude|tojson }}" data-name="{{ result.site_name|safe }}">
                        <td><a href="/site/{{ result.site_id }}" title="{{ result.site_name }}の詳細へ">{{ result.site_name }}</a></td>
                        <td>{{ result.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section>
            <div id="mapid" class="mb-3"></div>
        </section>
    </div>
</article>
<script charset="utf-8" src="{{ url_for('static', filename='js/show_map.js') }}"></script>
{% endblock %}
